
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --background: rgb(25, 25, 33);
    --background-sec:rgb(54, 54, 64);
    --background-ter:rgb(38, 38, 47);
    --letra: rgb(146, 146, 155) ;
    --adicionar: green;
    --visualizar: orange;
    --deletar: red;
    --editar: yellow;
    --box-shadow :1px 1px rgba(0, 0, 0, 0.284);
}

body {
    margin: 15px 25px;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--letra) ;
}

/* Grid de visualização */
.container-grid{
    background-color: var(--background-ter);
    padding: 5px;
    border-radius: 5px;
}

.grid {
    display: grid;
    gap:10px;
    text-align: center;
}


.header {
    font-weight: bold;
    display: grid;
    font-size: large;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;

}

.row {
    display: contents;
    font-size: medium;
}

.actions {
    display: flex;
    gap:15px;
    justify-content: center;
}


.cell {
    background-color: var(--background-sec);
    border-radius: 5px;
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.display-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 2em;
}


/* Formulario de edição/adicionar */

label {
    margin: 10px 15px;
}

.modal {
    display: flex;
    justify-content:space-around;
    position: relative;
    top: 25%;
    
}

form {
    background-color: var(--background-sec);
    border-radius: 10px;
    width: 45%;
    box-shadow: var(--box-shadow);
}

input {
    
    background-color:var(--background);
    border: 1px solid var(--letra);
    padding: 6px;
    color:var(--letra);
    border-radius: 5px;
    margin-right: 10px;
}

form input {
    margin-left: 15px;
}


.display-flex-form-modal{
    display: flex;
    flex-direction: column;
}



/* Botoes */
button {
    margin: 12.5px 10px 12.5px 0px;
    padding: 5px 12.5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.284);
    align-self: center;
}

.Adicionar, .Salvar{
    background-color: var(--adicionar);
}

.Visualizar{
    background-color: var(--visualizar);
}


.Deletar {
    background-color: var(--deletar);
}

.Editar {
    background-color: var(--editar);
}

