
.grid {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 3fr repeat(5,1fr);
    background-color: pink;
    border: 1px solid black;
}


.row {
display: contents;
}


.botoes {
    display: flex;
    justify-content: space-around;
}